#pic {height: 28px; width: 28px;}

.felsor{}

#oszlop {height: 100%; width: 150px;}

#lista {width: inherit; list-style-image: url(a.png)}

body {font-family: Arial, Helvetica, sans-serif;}

.tanaroklist2{}



.div1{width: 300px; border: 1px black solid; border-radius: 10px;}

.div01{width: 300px; height: 100px;}

.div02{width: 300px; height: 137px;}

.div03{width: 300px; height: 57px;}


