.list-group{
    width: 200px
}

.img1{
    border-radius: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.tanaroklist2{
    display: inline-block; 
    inline-size: auto;
}

.ol1{
    list-style: none; 
    width: 300px; 
    height: 294px; 
    display: inline-block; 
    float: inline-start;
} 

.div1{
    width: 300px; 
    border: 1px rgb(151, 151, 151) solid; 
    border-radius: 10px; 
    list-style: none; 
    font-size: 125%;
}

#div01{
    position: relative; 
    background-image: url(kepek/img_breakfast.jpg); 
    background-size: cover; 
    border-radius: 9px;
}

.div01{
    width: 300px; 
    height: 100px; 
}

.div02{
    width: 300px; 
    height: 137px;
}

.div03{
    width: 300px; 
    height: 57px;
}

.img-fluid{
    height: 28px; 
    width: 28px;
}

.imgg{
    border-radius: 50%; 
    height: 72px; 
    width: 72px; 
    position: relative;
}

.divv{
    width: 100px; 
    height: 100px; 
    float: right;
}
